.bg-prime{
  background-color: #E78B48;
}
.btn-prime{
  background-color: #E78B48  !important;
}
.text-prime{
  color: #E78B48 !important;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    background-color: #cf7b3f;
}
.text-prime2{
  color:black;
}

.column{
  min-height: 300px;
  overflow-y: auto;
}
